<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611227209554-tigjjpa5b8nmblm37r1ac54rjg242mho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611227209554-tigjjpa5b8nmblm37r1ac54rjg242mho</string>
	<key>API_KEY</key>
	<string>AIzaSyAmQ9amsnVyHcy5OHvZULJ8rSr-2RB-CL8</string>
	<key>GCM_SENDER_ID</key>
	<string>611227209554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.Beefmode</string>
	<key>PROJECT_ID</key>
	<string>beefmode-d88d2</string>
	<key>STORAGE_BUCKET</key>
	<string>beefmode-d88d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611227209554:ios:313361d3ccc40bb914748b</string>
	<key>DATABASE_URL</key>
	<string>https://beefmode-d88d2.firebaseio.com</string>
</dict>
</plist>